body{
    padding:10px;
}
.docu{
    float:left;
    width:55px;
    height:80px;
    background-size: cover;
    margin:0 5px 5px 0;
    border:1px solid darkgray;
    background-position: center center;
}
.infogreen{
  display: inline-block;
  background-color: green;
  color:yellow;
  border-radius:4px 
  border: 2px solid yellow;
  padding:4px;
}
.infored{
    display: inline-block;
    background-color: red;
    color:yellow;
    border-radius:4px; 
    border: 2px solid yellow;
    padding:4px;
  }